<div *ngIf="proveedor">  
    <h2>Edición de {{proveedor.name | uppercase}}</h2>
    <div><span>id: </span>{{proveedor.id}}</div>

    <mat-form-field appearance="fill">
      <mat-label>Nombre del Proveedor:</mat-label>
      <input matInput id="proveedor-name" [(ngModel)]="proveedor.name" placeholder="name">
    </mat-form-field>

    <div>
      <label for="proveedor-id">Id Proveedor: </label>
      <input id="proveedor-id" [(ngModel)]="proveedor.id" placeholder="id">
    </div>   


 <!-- Agregación de boton para la actualización del nombre del Proveedor o Clientes-->
    <button class="add-button" (click)="update(proveedorName.value); proveedorName.value='' " >
      Actualice el proveedor
    </button>

</div>

